.about-description-warp {
    background-color: $clr1;
    position: relative;
    height: em(328px);

    svg {
        position: absolute;
        right: 0;
        bottom: 0;
    }

    .about-description-container {
        height: em(150px);

        .about {
            flex: 1;

            h1 {
                font-size: em(64px);
                font-family: Livvic-Bold;
                line-height: 1;
            }
        }

        .description {
            flex: 2;

            .line-element {
                width: em(50px);
                height: em(4px);
                background: $clr2;
            }
        }
    }
}
