.app-footer {
    background-color: $clr8;
    height: em(196px);
    color: $clr3;
    align-content: center;

    .footer-inner-container {
        .logo-nav-location-container {
            column-gap: 5em;
            height: 100%;

            .logo-nav-container {
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                .logo {
                    h1 {
                        font-size: em(40px);
                        line-height: 0.5;
                    }
                }

                nav {
                    display: flex;
                    column-gap: 2em;
                    a {
                        color: $clr3;
                        font-size: em(18px);
                    }
                }
            }
            .location-details {
                display: flex;
                flex-direction: column;
                justify-content: center;
                height: 100%;
                font-size: em(15px);
                color: rgb(190, 190, 190);
            }
        }

        .icons-reserved {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-end;
            .icons {
                column-gap: 1em;
                img {
                    width: 1em;
                }
            }
            p {
                font-size: em(15px);
                color: rgb(190, 190, 190);
            }
        }
    }
}
