.hero {
    background-color: $clr1;
    align-content: center;
    position: relative;
    height: em(500px);

    .element-left-side {
        width: em(100px);
        position: absolute;
        left: 0;
        bottom: 50%;
    }

    .element-right-side {
        width: em(320px);
        position: absolute;
        right: 0;
        bottom: 0;
    }

    .container {
        height: inherit;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;

        .hero-inner-container {
            width: 100%;
            display: flex;
            justify-content: space-between;
            height: 10em;
            margin-block-end: 11em;

            .title {
                h1 {
                    font-size: em(100px);
                    font-family: Livvic-Bold;
                    line-height: 1;

                    span {
                        color: $clr2;
                    }
                }
            }

            .paragraph {
                display: grid;
                height: 100%;

                .paragraph-inner-container {
                    display: flex;
                    flex-direction: column;
                    height: 100%;
                    width: 25em;
                    justify-content: space-between;

                    .line-element {
                        height: 4px;
                        width: em(50px);
                        background-color: $clr4;
                        justify-self: start;
                    }
                    p {
                        height: fit-content;
                        font-size: em(18px);
                    }
                }
            }
        }
    }
}
