@include for-normal-layout {
    .meet-directors-container {
        background-color: $clr6;
        position: relative;
        height: em(1219px);
        place-content: center;

        .element-left-side {
            position: absolute;
            left: 0;
            top: 0;
        }

        .element-right-side {
            position: absolute;
            right: 0;
            bottom: 0;
        }

        .meet-directors-inner-container {
            height: fit-content;
            row-gap: em(64px);
            margin-block-end: 1em;

            h2 {
                font-size: em(32px);
            }

            .directors-list {
                grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
                column-gap: em(11px);
                row-gap: em(76px);
                width: 100%;

                .director-preview {
                    background-color: $clr7;
                    height: em(253px);
                    position: relative;

                    img {
                        width: em(96px);
                        margin-block-end: em(16px);
                    }

                    h4 {
                        color: $clr4;
                        margin-block-end: 3em;
                    }

                    .btn-plus {
                        position: absolute;
                        bottom: em(-25px);
                        cursor: pointer;

                        circle {
                            &:hover {
                                fill: $clr3;
                            }
                        }
                    }
                }

                .director-preview-details {
                    background-color: $clr7;
                    height: em(253px);
                    position: relative;
                    padding-inline: 2em;

                    h4 {
                        color: $clr4;
                        margin-block-end: 0.5em;
                        font-size: em(18px);
                    }

                    p {
                        font-size: em(15px);
                        margin-block-end: 2em;
                        text-align: center;
                    }

                    .social-icons {
                        margin-block-end: 3em;

                        path {
                            &:hover {
                                fill: $clr2;
                                cursor: pointer;
                            }
                        }
                    }

                    .btn-minus {
                        position: absolute;
                        bottom: em(-25px);
                        cursor: pointer;

                        circle {
                            &:hover {
                                fill: $clr3;
                            }
                        }
                    }
                }
            }
        }
    }
}

@include for-wide-layout {
    .meet-directors-container {
        background-color: $clr6;
        position: relative;
        height: em(1002px);
        place-content: center;

        .element-left-side {
            position: absolute;
            left: 0;
            top: 0;
        }

        .element-right-side {
            position: absolute;
            right: 0;
            bottom: 0;
        }

        .meet-directors-inner-container {
            height: fit-content;
            row-gap: em(64px);
            margin-block-end: 1em;

            h2 {
                font-size: em(48px);
            }

            .directors-list {
                width: 100%;

                .director-preview {
                    background-color: $clr7;
                    height: em(253px);
                    position: relative;

                    img {
                        width: em(96px);
                        margin-block-end: em(16px);
                    }

                    h4 {
                        color: $clr4;
                        margin-block-end: 3em;
                    }

                    .btn-plus {
                        position: absolute;
                        bottom: em(-25px);
                        cursor: pointer;

                        circle {
                            &:hover {
                                fill: $clr3;
                            }
                        }
                    }
                }

                .director-preview-details {
                    background-color: $clr7;
                    height: em(253px);
                    position: relative;
                    padding-inline: 2em;

                    h4 {
                        color: $clr4;
                        margin-block-end: 0.5em;
                        font-size: em(18px);
                    }

                    p {
                        font-size: em(15px);
                        margin-block-end: 2em;
                        text-align: center;
                    }

                    .social-icons {
                        margin-block-end: 3em;

                        path {
                            &:hover {
                                fill: $clr2;
                                cursor: pointer;
                            }
                        }
                    }

                    .btn-minus {
                        position: absolute;
                        bottom: em(-25px);
                        cursor: pointer;

                        circle {
                            &:hover {
                                fill: $clr3;
                            }
                        }
                    }
                }
            }
        }
    }
}
