* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: Livvic-SemiBold;
    line-height: 1.6;
    color: $clr3;
}

body {
    font-size: rem(16px);
}

img {
    width: 100%;
}

a {
    text-decoration: none;
}

h1 {
    font-size: em(48px);
}

// a:hover {
//     text-decoration: underline;
// }
